<div class="flex flex-col items-center my-8">
  {% if section.settings.show_heading_text %}
    <h1 class="text-[#423328] text-center text-5xl font-normal font-gambetta -tracking-[1.92px] mb-14">
        {{ section.settings.title_testi }}
    </h1>
  {% endif %}

  <div class="max-w-[1600px] w-full mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      {%  for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %} 
        {%  render 'product-card', product_product: product %}
      {% else %}
        {%  for item in (1..4) %} 
          {%  render 'product-card-placeholder' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
      {
        "type": "checkbox",
        "id": "show_heading_text",
        "label": "Show heading text",
        "default": true
      },
      {
        "type": "text",
        "id": "title_testi",
        "label": "title",
        "default": "Explore Featured Products"
      },
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "number_of_products_to_show",
        "min": 4,
        "max": 12,
        "default": 4,
        "label": "Number of products to show"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
}
{% endschema %}