<div>
  <div>
    <div>
      <!-- store logo -->
       <div>

       </div>
      <!-- navigation menu -->
       <div>

       </div>
      <!-- cart button / account links -->
       <div>
        
       </div>
    </div>
  </div>
</div>