<div class="">
    {% paginate collection.products by section.settings.number_of_products_per_page %}
        <div class="bg-[#423328] py-28">
            <h1 class="text-center text-white font-normal text-[74px] leading-[78px] -tracking-[2.96px]">{{ collection.title }}</h1>
        </div>

        <div class="max-w-7xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                    {%  render 'product-card', product_product: product %}
                    
                {% else %} 
                   <p>There are no products inside of this collection</p>
                {% endfor %}
            
            </div>

        </div>{%  render 'pagination', pagination: paginate %}
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Template Collection",
    "settings": [
            {
                "type": "number",
                "id": "number_of_products_per_page",
                "default": 6,
                "label": "Number of products per page"
            }
        ]
}
{% endschema %}